# Compiled files
.terraform/
.terraform
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
*.pem
*.old
*.copy
*.docx
.DS_Store
scratch/
Old/
giraffe/
pems/
software/
.excluded_scripts/
.todo
count_lines.py
.idea/
__pycache__/
.ipynb_checkpoints/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
